<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel='stylesheet' href="{{url_for('static',filename='css/style.css')}}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron d-flex justify-content-center align-items-center">
        <div class="container">
            <h1>Welcome to my application</h1>
            <h2>Convert Source code comments from Japanese to English</h2>

            <div class="col-4 mx-auto">
                <form action="http://localhost:5000/uploader" method="POST" id="form1"
                enctype="multipart/form-data">
                    <input type="file" id="mush" name="file"/>
                <button type="submit" id="btnUpload" class="btn btn-primary" form="form1">Upload C# file</button>
                <a href="/uploader/success" target="blank" ><button type="button" id="btnDownload" class="btn btn-success" disabled>Download file</button></a>
                </form>
            </div>
        </div>
    </div>

    <script>
        if(document.getElementById('mush').files.length > 0)
        {
            document.getElementById('btnDownload').disabled = false;
        }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>